<footer>
  <img src="/assets/binflav_logo_relative.png" style="margin-left: auto; margin-right: auto; height: 2rem;">
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
  </span>
  <br>
  <a href="https://github.com/byunjuneseok" target="_blank"> <span style="display: inline; color: #adb5bd; margin-top: 0; margin-bottom: 2px; margin-right: 8px;">github</span> </a>
  <a href="https://facebook.com/byunjuneseok" target="_blank"> <span style="display: inline; color: #adb5bd; margin-top: 0; margin-bottom: 2px; margin-right: 8px;">facebook</span> </a>
  <a href="https://instagram.com/neil.byun" target="_blank"> <span style="display: inline; color: #adb5bd; margin-top: 0; margin-bottom: 2px; margin-right: 8px;">instagram</span> </a>
  <a href="https://www.linkedin.com/in/juneseok-byun-b38890131/" target="_blank"> <span style="display: inline; color: #adb5bd; margin-top: 0; margin-bottom: 2px;">linkedin</span> </a>
</footer>
