---
layout: default
---

<div class="catalogue" style="margin-top: 180px; min-height: 50vh;">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item" style="padding: 20px 0;">
      <div>
        <span style="font-weight: 600; color: #12b886;">
          {% for category in post.categories %}
            {{ category }}
          {% endfor %}
        </span>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <h5 style="margin-top: 10px; font-weight: 500; color: #adb5bd; margin-bottom: 0px;">🗓{{ post.date | date: "%Y년 %m월 %d일" }}</h1>
        <!-- <div class="catalogue-line"></div> -->

        <!-- <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p> -->

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
